<!DOCTYPE html>
<html lang="en">
<head>
  <title>Computed Properties</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

  <button onClick="logMessages()">Log messages to console</button>
  
  <div id="app">
    <p>Original message: "{{ message }}"</p>
    <p>Computed reversed message: "{{ reversedMessage }}"</p>
    <p>Method reversed message: "{{ reversedMethodMessage() }}"</p>
    <h2>Example of <em>Watch</em> versus <em>Computed</em></h2>
    <input v-model="firstName">
    <input v-model="lastName">
    <br>
    <p>Watched: {{ fullNameWatched }}</p>
    <p>Computed: {{ fullNameComputed}}</p>
  </div>


  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        message: 'Welcome to Copenhagen.',
        firstName: 'Alfred',
        lastName: 'Woodhouse',
        fullNameWatched: 'Alfred Woodhouse'
        // fullNameComputed: 'Alfred Woodhouse' - not needed
      },
      watch: {
        firstName: function (val) {
          this.fullName = val + ' ' + this.lastName
        },
        lastName: function (val) {
          this.fullName = this.firstName + ' ' + val
        }
      },
      computed: {
        // a computed getter
        reversedMessage: function () {
          // `this` points to the vm instance
          return this.message.split('').reverse().join('')
        },
        fullNameComputed: function() {
          return this.firstName + ' ' + this.lastName
        }
      },
      methods: {
        reversedMethodMessage: function () {
          return this.message.split('').reverse().join('')
        }
      }
    })

    function logMessages(){
      console.log( vm.message );
      console.log( vm.reversedMessage );
      console.log( vm.reversedMethodMessage() );
    }
  </script>


</body>
</html>