<!DOCTYPE html>
<html>
<head>
  <title>Vue Examples</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    {{ message }}
  </div>

  <div id="app-2">
    <span v-bind:title="message">
      Hover mouse to view title.
    </span>
  </div>

  <div id="app-3">
    <span v-if="seen">Now you see me.</span>
  </div>

  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>

  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse the message</button>
  </div>

  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Good morning, Copenhagen.'
      }
    });

    var app2 = new Vue({
      el: '#app-2',
      data: {
        message: 'Rosenburg'
      }
    });

    var app3 = new Vue({
      el: '#app-3',
      data: {
        seen: true
      }
    });

    var app4 = new Vue({
      el: '#app-4',
      data: {
        todos: [
          { text: 'Visit Geology Museum.' },
          { text: 'Finish Series on Netflix.' },
          { text: 'Review French on DuoLingo.' }
        ]
      }
    })

    var app5 = new Vue({
      el: '#app-5',
      data: {
        message: 'Good morning Copenhagen.'
      },
      methods: {
        reverseMessage: function () {
          this.message = this.message.split('').reverse().join('')
        }
      }
    })

    var app6 = new Vue({
      el: '#app-6',
      data: {
        message: 'Museum for Modern Art'
      }
    })

  </script>
</body>
</html>
