<!DOCTYPE html>
<html>
<head>
  <title>Template Syntax</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  
  <div id="app">
    <input v-model="msg">
    <br>
    <span>Message: {{ msg }} </span>
    <br>
    <span v-once>This will never change: {{ msg }}</span>
    <br>
    <input v-model="foo">
    <br>
    <p>Is foo "alpha"? {{ foo === "alpha" ? 'yes' : 'no' }}</p>
  </div>

  <script>

    var app = new Vue({
      el: '#app',
      data: {
        msg: 'Good morning, Copenhagen.',
        foo: 'alpha'
      }
    })


  </script>
</body>
</html>
